@model LibraryMVC.Application.NewCustomerVm

@{
    ViewData["Title"] = "Create Customer";
}

<h1>Create Customer</h1>

<h4>Complete form to create a new customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCustomer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" class="form-control" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pesel" class="control-label"></label>
                <input asp-for="Pesel" type="number" class="form-control" />
                <span asp-validation-for="Pesel" class="text-danger"></span>
            </div>
            @for (int i = 0; i < 2; i++)
            {
                string valueNumber = $"Number {i + 1}";
                <div class="form-group">
                    <label asp-for="Number" class="control-label">@valueNumber</label>
                    <input asp-for="Number[i].Number" class="form-control" value=0 />
                    <span asp-validation-for="Number" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Locality" class="control-label"></label>
                <input asp-for="Locality" class="form-control" />
                <span asp-validation-for="Locality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostCode" class="control-label"></label>
                <input asp-for="PostCode" class="form-control" />
                <span asp-validation-for="PostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfLocal" class="control-label">Local</label>
                <input asp-for="NumberOfLocal" class="form-control" />
                <span asp-validation-for="NumberOfLocal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfAccommodation" class="control-label">Accommodation</label>
                <input asp-for="NumberOfAccommodation" class="form-control" />
                <span asp-validation-for="NumberOfAccommodation" class="text-danger"></span>
            </div>
            @if (Model.isLocalAccount == false)
            {
                <div class="form-group">
                    <label asp-for="Mail" class="control-label"></label>
                    <input asp-for="Mail" class="form-control" />
                    <span asp-validation-for="Mail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input value="-LibraryMvc123-" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="hidden" asp-for="isLocalAccount" asp-route-isLocalAccount=true class="form-control" />
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index">Close</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
