@model LibraryMVC.Application.NewCustomerVm

@{
    ViewData["Title"] = "EditCustomer";
}

<h1>EditCustomer</h1>

<h4>NewCustomerVm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCustomer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" class="form-control" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pesel" class="control-label"></label>
                <input asp-for="Pesel" class="form-control" />
                <span asp-validation-for="Pesel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Locality" class="control-label"></label>
                <input asp-for="Address.Locality" class="form-control" />
                <span asp-validation-for="Address.Locality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Country" class="control-label"></label>
                <input asp-for="Address.Country" class="form-control" />
                <span asp-validation-for="Address.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Street" class="control-label"></label>
                <input asp-for="Address.Street" class="form-control" />
                <span asp-validation-for="Address.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.PostCode" class="control-label"></label>
                <input asp-for="Address.PostCode" class="form-control" />
                <span asp-validation-for="Address.PostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.NumberOfLocal" class="control-label"></label>
                <input asp-for="Address.NumberOfLocal" class="form-control" />
                <span asp-validation-for="Address.NumberOfLocal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.NumberOfAccommodation" class="control-label"></label>
                <input asp-for="Address.NumberOfAccommodation" class="form-control" />
                <span asp-validation-for="Address.NumberOfAccommodation" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isLocalAccount" /> @Html.DisplayNameFor(model => model.isLocalAccount)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
