@model LibraryMVC.Application.NewCustomerVm

@{
    ViewData["Title"] = "Edit Customer";
}

<h1>Edit Customer</h1>

<h4>Complete form to edit a customer</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCustomer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" class="form-control" />
            <input type="hidden" asp-for="UserId" class="form-control" />
            <input type="hidden" asp-for="CustomerContactDetail.Mail" class="form-control" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pesel" class="control-label"></label>
                <input asp-for="Pesel" class="form-control" />
                <span asp-validation-for="Pesel" class="text-danger"></span>
            </div>
            @for (int i = 0; i < 2; i++)
            {
                string valueNumber = $"Number {i + 1}";
                <div class="form-group">
                    <label asp-for="CustomerContactDetail.TelephoneNumbers" class="control-label">@valueNumber</label>
                    <input asp-for="CustomerContactDetail.TelephoneNumbers[i].Number" class="form-control" />
                    <span asp-validation-for="CustomerContactDetail.TelephoneNumbers" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="CustomerContactDetail.TelephoneNumbers[i].Id" class="form-control" />
            }
            <input type="hidden" asp-for="CustomerContactDetail.Id" class="form-control" />
            <input type="hidden" asp-for="Address.Id" class="form-control" />
            <div class="form-group">
                <label asp-for="Address.Locality" class="control-label"></label>
                <input asp-for="Address.Locality" class="form-control" />
                <span asp-validation-for="Address.Locality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Country" class="control-label"></label>
                <input asp-for="Address.Country" class="form-control" />
                <span asp-validation-for="Address.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Street" class="control-label"></label>
                <input asp-for="Address.Street" class="form-control" />
                <span asp-validation-for="Address.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.PostCode" class="control-label"></label>
                <input asp-for="Address.PostCode" class="form-control" />
                <span asp-validation-for="Address.PostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.NumberOfLocal" class="control-label"></label>
                <input asp-for="Address.NumberOfLocal" class="form-control" />
                <span asp-validation-for="Address.NumberOfLocal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.NumberOfAccommodation" class="control-label"></label>
                <input asp-for="Address.NumberOfAccommodation" class="form-control" />
                <span asp-validation-for="Address.NumberOfAccommodation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index">Close</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
